<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12">
                    <h4>{{ statusMessage }}</h4>
                    <input type="file" id="file" class="file-upload" name="document" class="form-control"
                        (change)="uploadFile($any($event?.target).files)" style="display:none;" #uploadDoc>

                </div>
            </div>
            <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
                <div class="col-xs-12">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 100%"
                            [attr.aria-valuenow]="uploadProgress" aria-valuemin="0" aria-valuemax="100"
                            *ngIf="uploadProgress > 0"></div>

                        <button type="button" class="btn btn-danger" (click)="onCancelUpload()"
                            *ngIf="uploadProgress > 0">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-success" (click)="uploadDoc.click()">Select
                        Document</button>
                    <button type="button" class="btn btn-danger" (click)="onCancel()">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>