<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12">
                    <h4>{{ statusMessage }}</h4>
                    <input 
                        type="file"
                        ngFileSelect
                        [options]="options"
                        (uploadOutput)="onUploadOutput($event)"
                        [uploadInput]="uploadInput" 
                        class="file-upload" 
                        name="document" 
                        style="display:none;" #uploadDoc>
                        <button type="button" class="btn btn-primary" (click)="uploadDoc.click()">Select a Doc</button>

                </div>
            </div>
            <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
                <div class="col-xs-12">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 100%"
                            [attr.aria-valuenow]="uploadProgress" aria-valuemin="0" aria-valuemax="100"
                            *ngIf="uploadProgress > 0"></div>

                        <button type="button" class="btn btn-danger" (click)="onCancelUpload()"
                            *ngIf="uploadProgress > 0">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-success" (click)="startUpload()" >Commence Uploadination</button>
                    <button type="button" class="btn btn-danger" (click)="onBack()">Back</button>
                </div>
            </div>
            <div class="upload-item" *ngFor="let f of files; let i = index;">
            <div class="filename">
                <div class="filename-left">
                  <i class="ionicon ion-ios-copy"></i>
                  <span>{{ f.name }}</span>
                </div>
                <div class="filename-right">
                  <i class="ionicon ion-close-round" (click)="cancelUpload(f.id)"></i>
                </div>
              </div>
        </div>
        </div>
    </div>
</div>