<div class="row">
    <div class="col-xs-12">
        <div class="container">
            <pdf-viewer [src]="pdfSrc" [render-text]="false" [original-size]="false" [autoresize]="true" style="width: 600px; height: 700px"></pdf-viewer>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ document.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ document.category }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
       <div class="btn-group" appDropdown>
            <button class="btn btn-primary" (click)="onBack()">Back</button>
            <button class="btn btn-danger" (click)="deleteDoc()">Delete Document</button>
       </div>
    </div>
</div>
